@{
    ViewBag.Title = "Welcome";
}
<mvc>
    <div class="jumbotron">
        <div class="container">
            <h1><i class="fa fa-home"></i>&nbsp;Welcome to EasyModules.NET</h1>
            <p>This site focus on sharing knowledge about technologies like .NET, C#, SQL, Javascript, TypeScript, HTML and CSS.</p>
            <p>We hope you will enjoy your stay.</p>
            <p>Thanks for visiting EasyModules.NET</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" alt="" src="media/images/site/mission.jpg">
            </div>
            <div class="col-sm-6">
                <h2><i class="fa fa-map-signs"></i> Our Mission</h2>
                <p>Have fun coding cool stuff.</p>
                <p>Solve real life problems using computers in a creative way.</p>
                <p>Make solutions accessible to those who will benefit from our inventions.</p>
                <p>Share knowledge and consider it to be this companys main asset.</p>
                <p><span>Facilitate best practices when developing code.</span></p>
                <p><span>Promote partnerships with academic and research institutions when it is possible with our product development.</span></p>
                <p>Deliver the highest quality of code taking economy, business goals and strategy into account.</p>
                <p>Meet deadlines and price for our customers.</p>
                <p>Do NOT lock our selves to one technology, method or language!</p>
            </div>
        </div>
    </div>
    <div class="container margin-top margin-bottom-small">
        <h2><i class="fa fa-ticket"></i>&nbsp;Services</h2>
    </div>
    <img class="full-width" alt="" src="media/images/site/services.jpg">
    <div class="container margin-top margin-bottom">
        <div class="row">
            <div class="col-sm-4">
                <h3><i class="fa fa-code"></i> Software development</h3>
                <p>We offer expertise with software development in the following areas.</p>
                <ul class="em-icon-list">
                    <li>.NET versions 3.5 - 5</li>
                    <li>MS SQL Server 2005-2014</li>
                    <li>Website Development and Design</li>
                    <li>Software Architecture</li>
                    <li>Business Intelligence</li>
                </ul>
                <p>Our services are both backend and frontend as we like fullstack development with focus on solving business problems.</p>
            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-line-chart"></i> Business insights</h3>
                <p>In order to service you with the best insights about your business we iterate methodically through a well defined process.</p>
                <ul class="em-icon-list">
                    <li>Interview client</li>
                    <li>Explore data</li>
                    <li>Understand business as well as data</li>
                    <li>Analyze best and worst</li>
                    <li>Recommend actions</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-life-ring"></i> Product support</h3>
                <p>All our products offers full support directly from developers with flexible price plans. No strange 1-x level support using people who do not understand your business problem!</p>
                <p>In order to ease the proccess of gaining the support that solves your problem for the right price we offer a full ticket system for our customers through our own ERP system that can be linked to remote installations.</p>
                <p></p>
            </div>
        </div>
        <h3 style="text-align: right;"><a title="View more details...	" href="services">View more details... </a></h3>
    </div>
</mvc>