
<div class="fluide-container">
    <div class="row">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class='container' [dragula]='"page-bag"' data-istarget="true" id="content" style="min-height: 300px; border: 1px solid #7896b1;"></div>
        </div>
        <div class="col-md-3">
            <accordion [closeOthers]="true">
                <accordion-group heading="Layout" [isOpen]="true">
                    <div class="list-group" [dragula]='"page-bag"' data-istarget="false" id="layouts">
                        <button type="button" class="list-group-item">Container</button>
                        <button type="button" class="list-group-item">Row</button>
                        <button type="button" class="list-group-item">Column</button>
                        <button type="button" class="list-group-item">Header</button>
                        <button type="button" class="list-group-item">Table</button>
                    </div>
                </accordion-group>
                <accordion-group heading="Content">
                    <div class='container' [dragula]='"page-bag"' data-istarget="false" id="content">
                        <div>This is the default use case. You only need to specify the containers you want to use</div>
                        <div>More interactive use cases lie ahead</div>
                        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
                    </div>
                </accordion-group>
                <accordion-group heading="Media">
                    <div class='container' [dragula]='"page-bag"' data-istarget="false" id="media">
                        <div>This is the default use case. You only need to specify the containers you want to use</div>
                        <div>More interactive use cases lie ahead</div>
                        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
                    </div>
                </accordion-group>
                <accordion-group heading="Widgets">
                    <div class='container' [dragula]='"page-bag"' data-istarget="false" id="widgets">
                        <div>This is the default use case. You only need to specify the containers you want to use</div>
                        <div>More interactive use cases lie ahead</div>
                        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
                    </div>
                </accordion-group>
                <accordion-group heading="Templates">
                    <div class='container' [dragula]='"page-bag"' data-istarget="false" id="templates">
                        <div>This is the default use case. You only need to specify the containers you want to use</div>
                        <div>More interactive use cases lie ahead</div>
                        <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>