@{
    ViewBag.Title = "Administration";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-1 admin-sidebar">
            <admin-navigation></admin-navigation>
        </div>
        <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 admin-main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
