
<div class="fluide-container">
    <div class="row">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div [dragula]='"page-bag"' data-istarget="true" id="content" style="min-height: 300px; border: 1px dashed #fff;">
                <cms-editor-html></cms-editor-html>
                <cms-editor-html></cms-editor-html>
                <cms-editor-html></cms-editor-html>
            </div>
        </div>
        <div class="col-md-3">
            <accordion [closeOthers]="true">
                <accordion-group heading="Layout" [isOpen]="true">
                    <div class="list-group" [dragula]='"page-bag"' data-istarget="false" id="layouts">
                        <button type="button" class="list-group-item">Container</button>
                        <button type="button" class="list-group-item">Row</button>
                        <button type="button" class="list-group-item">Column</button>
                        <button type="button" class="list-group-item">Header</button>
                        <button type="button" class="list-group-item">Table</button>
                    </div>
                </accordion-group>
                <accordion-group heading="Content">
                    <div class='list-group' [dragula]='"page-bag"' data-istarget="false" id="content">
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Html</h4>
                            <p class="list-group-item-text">Insert html using WYSIWYG.</p>
                        </button>
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Code</h4>
                            <p class="list-group-item-text">Insert a code block with highlighted codeblock using prism.</p>
                        </button>
                    </div>
                </accordion-group>
                <accordion-group heading="Media">
                    <div class='list-group' [dragula]='"page-bag"' data-istarget="false" id="media">
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Image</h4>
                            <p class="list-group-item-text">Insert an image from the mediabrowser.</p>
                        </button>
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Video</h4>
                            <p class="list-group-item-text">Insert a video from the mediabrowser or from another source like youtube.</p>
                        </button>
                    </div>
                </accordion-group>
                <accordion-group heading="Widgets">
                    <div class='list-group' [dragula]='"page-bag"' data-istarget="false" id="widgets">
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Slideshow</h4>
                            <p class="list-group-item-text">Insert a slideshow with images from the mediabrowser.</p>
                        </button>
                        <button type="button" class="list-group-item">
                            <h4 class="list-group-item-heading">Navigation</h4>
                            <p class="list-group-item-text">Insert a navigation menu with routes selected manually or from rule creator.</p>
                        </button>
                    </div>
                </accordion-group>
                <accordion-group heading="Templates">
                    <div class='list-group' [dragula]='"page-bag"' data-istarget="false" id="templates">
                        <button type="button" class="list-group-item">Template 1</button>
                        <button type="button" class="list-group-item">Template 2</button>
                        <button type="button" class="list-group-item">Template 3</button>
                        <button type="button" class="list-group-item">Template 4</button>
                        <button type="button" class="list-group-item">Template 5</button>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>