@{
    ViewBag.Title = "Products";
}
<mvc>
    <div class="container-fluid margin-top margin-bottom-small">
        <h1>Products</h1>
        <div class="row">
            <div class="col-md-12">
                @*<carousel>
                        <slide *ngFor="let slidez of slides; let index=index"
                               [active]="slidez.active">
                            <img [src]="slidez.image" style="margin:auto;">

                            <div class="carousel-caption">
                                <h4>Slide {{index}}</h4>

                                <p>{{slidez.text}}</p>
                            </div>
                        </slide>
                    </carousel>*@

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h4>
                        MoM is an elegant and flexible CMS software that offers you a variety of opportunities while keeping things as simple as possible.
                        MoM provides you with endlessly customization that can fit every need you may have. Additionally, the design of your website will automatically adapt to smartphones, tablets, laptops and desktops.
                        It has never been easier to create a thriving business or a fascinating website for both the beginner and the advanced user.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row margin-top margin-bottom">
            <div class="col-md-6">
                <h2><i class="fa fa-globe mom-icon" aria-hidden="true"></i>Website owners</h2>
                <p>
                    MoM offers a greatly selection of free modules which fit your vision of a website. Just find yourself a good looking module you like, install it, and you are set.
                    Likewise, if you have changed your mind you can simply click uninstall and it is gone. MoM will help you if you are in a need of any kind of assistance.
                    It has never been this simple to build a sophisticated site with a minimum of knowledge.
                </p>
                <p><button class="btn btn-primary">Read more...</button></p>
            </div>
            <div class="col-md-6">
                <h2><i class="fa fa-code mom-icon" aria-hidden="true"></i>Developers</h2>
                <p>
                    MoM also offers different options for the advanced user. We have made it easy for you as a programmer, to build and share your own modules. The coding is always up-to-par. It is open source and it is available on our GitHub.
                    You are more than welcome to tweak any of our features so they fit your needs. If you are in a need of any kind of assistance, do not hesitate to ask our support or our community.
                </p>
                <p><button class="btn btn-primary">Read more...</button></p>
            </div>
        </div>
    </div>
</mvc>