<ul class="nav nav-sidebar" *ngFor="let item of items">
    <li [class.active]="isLinkActive([item.routerLink])" (click)="onMenuItemClick(item)"><a title="{{item.displayName}}"><i class="{{item.iconClass}} fa-2x"></i><p>{{item.displayName}}</p></a></li>
</ul>
@*<li [class.active]="isLinkActive(['./AdminContent'])" [routerLink]="[ './AdminContent']"><a [routerLink]="[ './AdminContent']" title="Content"><i class="fa fa-sitemap fa-2x"></i><p>Content</p></a></li>
    <li [class.active]="isLinkActive(['./AdminSecurity'])" [routerLink]="[ './AdminSecurity']"><a [routerLink]="[ './AdminSecurity']" title="Security"><i class="fa fa-shield fa-2x"></i><p>Security</p></a></li>
    <li [class.active]="isLinkActive(['./AdminReports'])" [routerLink]="[ './AdminReports']"><a [routerLink]="[ './AdminReports']" title="Dashboards and Reports"><i class="fa fa-line-chart fa-2x"></i><p>Reports</p></a></li>
    <li [class.active]="isLinkActive(['./AdminModules'])" [routerLink]="[ './AdminModules']"><a [routerLink]="[ './AdminModules']" title="Modules"><i class="fa fa-cubes fa-2x"></i><p>Modules</p></a></li>
    <li [class.active]="isLinkActive(['./AdminSettings'])" [routerLink]="[ './AdminSettings']"><a [routerLink]="[ './AdminSettings']" title="Settings"><i class="fa fa-cogs fa-2x"></i><p>Settings</p></a></li>*@