<div class="card">
    <div class="card-header">
        <h4 class="card-title"><i class="fa fa-tags"></i>Tags</h4>
        <h6 class="card-subtitle text-muted">These are the most used tags on this blog</h6>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-xs-12 tag-cloud">
                <span *ngFor="#tag of tags" class="{{tag.className}}">{{tag.name}}</span>
            </div>
        </div>
    </div>
    <div class="card-block text-xs-right"><a href="#" class="btn btn-primary">View all</a></div>
</div>
