<blog-post>
    <div class="container-fluid margin-top margin-bottom" *ngIf="post">
        <div class="col-md-9">
            <h1>{{post.title}}</h1>
            <div [innerHTML]="post.content"></div>
        </div>
        <div class="col-md-3">
            <blog-topcategories></blog-topcategories>
            <blog-tagcloud></blog-tagcloud>
        </div>
    </div>
    <codeblock javascript>
        // Hello in Javascript


        // display prompt box that ask for name and
        // store result in a variable called who
        var who = window.prompt("What is your name");

        // display prompt box that ask for favorite color and
        // store result in a variable called favcolor
        var favcolor = window.prompt("What is your favorite color");

        // write "Hello" followed by person' name to browser window
        document.write("Hello " + who);

        // Change background color to their favorite color
        document.bgColor = favcolor;
    </codeblock>
</blog-post>