<blog>
    <div class="container-fluid margin-top margin-bottom">
        <div class="row">
            <div class="col-md-9">
                <blog-posts></blog-posts>
            </div>
            <div class="col-md-3">
                <blog-categories></blog-categories>
            </div>
        </div>
    </div>
</blog>