<blog>
    <div class="container-fluid margin-top margin-bottom">
        <div class="row">
            <div class="col-md-9">
                <blog-latestsposts></blog-latestsposts>
            </div>
            <div class="col-md-3">
                <blog-topcategories></blog-topcategories>
                <blog-tagcloud></blog-tagcloud>
            </div>
        </div>
    </div>
</blog>